body{
  background: darkgray;
}
h1{
  color: red;
}
li{
  color: black;
  font-size: 25px;
}
span{
  color: red;
}
.overlay {
  width: 30%;
  margin: 0.1% auto;
  padding: 2%;
  height: 90vh;
  background-color: #ffffff;
  border-style: solid;
  border-color: black;
  border-radius: 100px;
}
#button{
  width: 140px;
  font-size:  20px;
  color: red;

}
button{
  width: 140px;
  font-size: 20px;
  color: red;
}
